.formulario {
    padding: rem(25px);
    @include mq('md') {
        padding: rem(45px) 0;
    }
    &--wrapper {
        @include wrapper;
        max-width: rem(960px);
        text-align: center;
    }
    h2 {
        color: $orange;
        text-transform: uppercase;
        @include mq('md') {
            @include font(54px);
        }
    }
    &--descripcion {
        margin: rem(16px) auto;
        max-width: rem(600px);
        p {
            @include font(18px);
            @include mq('md') {
                @include font(24px);
            }
        }
    }
    .formulario-contacto {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: rem(700px);
        >p {
            width: 30%;
            &:first-child {
                width: 70%;
            }
            input {
                width: 100%;
                padding: rem(10px);
                border-radius: 0;
                height: auto;
                &.wpcf7-submit {
                    background-color: $orange;
                    color: $white;
                    text-transform: uppercase;
                    border: none;
                }
            }
        }
    }
}