.caracteristicas {
    &-item {
        @include mq('md') {
            display: flex;
            flex-wrap: wrap;
        }
        &:nth-child(even) {
            @include mq('md') {
                flex-direction: row-reverse;
            }
        }
        .imagen,
        .informacion {
            width: 100%;
            @include mq('md') {
                width: 50%;
            }
        }
        .imagen {
            @include bgcover;
            background-color: $gray;
            min-height: rem(300px);
            @include mq('md') {
                min-height: rem(650px);
            }
            img {
                display: none;
            }
        }
        .informacion {
            padding: rem(20px);
            position: relative;
            @include bgcover;
            &--caption {
                @include mq('md') {
                    width: 75%;
                    @include center('both');
                }
                h2 {
                    color: $green;
                    font-family: $mar;
                    text-transform: uppercase;
                    @include mq('md') {
                        @include font(45px);
                    }
                }
                p {
                    @include font(18px);
                    @include mq('md') {
                        @include font(24px);
                    }
                }
            }
        }
        &:nth-child(1) {
            .informacion {
                background-image: url('../img/bgs/fondo1.png');
            }
        }
        &:nth-child(2) {
            .informacion {
                background-image: url('../img/bgs/fondo2.png');
            }
        }
        &:nth-child(3) {
            .informacion {
                background-image: url('../img/bgs/fondo3.png');
            }
        }
        &:nth-child(4) {
            .informacion {
                background-image: url('../img/bgs/fondo4.png');
            }
        }
        &:nth-child(5) {
            .informacion {
                background-image: url('../img/bgs/fondo5.png');
            }
        }
    }
}
