.bienvenido {
    @include bgcover;
    background-color: $gray;
    position: relative;
    padding: rem(20px);
    @include mq('md') {
        padding: 0;
        min-height: rem(600px);
    }
    &-content {
        max-width: 75%;
        margin: 0 auto;
        color: $white;
        text-align: center;
        img {
            display: inline-block;
        }
        @include mq('md') {
            @include center('both');
        }
        h1 {
            line-height: 1;
            text-align: center;
            display: block;
            @include mq('md') {
                @include font(67px);
            }
            &::before {
                content: "";
                margin: rem(16px) auto;
                display: block;
                width: rem(81px);
                height: rem(74px);
                @include iconBg('../img/icons/orchid-white.svg');
            }
        }
        p {
            line-height: 1;
        }
    }
}