.testimonios {
    padding: rem(30px);
    background-image: url('../img/bgs/fondoverde1.png');
    @include bgparallax;
    @include mq('md') {
        min-height: rem(600px);
    }
    &-wrapper {
        @include wrapper;
        .testimonios-titulo{
          text-align: center;
        }

    }
    &--flex {
        @include mq('md') {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }
    &--item {
        @include mq('md') {
            width: 47%;
            display: inline-block;
            vertical-align: middle;
        }
        img {
            max-width: rem(200px);
        }
        .informacion {
            color: $gray;
        }
    }
}
