@font-face {
    font-family: 'Martel';
    src: url('../fonts/Martel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Bold';
    src: url('../fonts/AlegreyaSC-Bold.woff2') format('woff2'), url('../fonts/AlegreyaSC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../fonts/Alegreya-Regular.woff2') format('woff2'), url('../fonts/Alegreya-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
