body {
    .navbar {
        &--logo {
            &__desktop {
                display: none;
                text-align: center;
                @include mq('md') {
                    display: block;
                }
                img {
                    display: inline-block;
                    max-width: rem(500px);
                }
            }
        }
        &-nav {
            text-align: center;
            display: block;
            width: 100%;
            @include mq('md') {
                margin-top: rem(20px);
            }
            li {
                float: none;
                @include mq('md') {
                    display: inline-block;
                }
                a {
                    color: $gray;
                    @include mq('md') {
                        @include font(30px);
                    }
                }
            }
        }
    }
}