// Colors
$red: #c10a0a;
$blue: #0a2449;
$white: #ffffff;
$black: #000000;
$gray: #606060;
$gray-2: #6A7573;
$orange: #E28103;
$cream: #FFEFE3;
// Fonts
$mar :'Martel';
$bd :'Alegreya Bold';
$rg :'Alegreya';